HTML {
  max-width: 100%;
  aspect-ratio: auto;
  height: 100vh;
  padding: 5rem;
  background: var(--darkblueG);
  min-height: 100vh; /*   MEDIA QUERY    */
  display: flex;
  justify-content: flex-start;
  padding: 5%;
}
body {
  width: 50rem;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.772);
  font-family: Chalkboard;
  display: flex;
  flex-direction: column; /* stacking */
}
img {
  display: flex;
  margin: 1%;
  border-radius: 1rem;
  position: static;
  height: 15vh;
  width: inherit;
}
.header-container {
  display: flex;
  align-items: center;
}

.box {
  font-size: 25pt;
  color: rgb(214, 214, 214);
}

.header-image {
  margin-left: 1%;
  border-radius: 1rem;
  height: 15vh;
  width: auto;
}

a {
  color: white;
  text-decoration: none;
}
/* top of the screen for listed items referencing my nav bar */
#top li {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  background-color: transparent;
  transition: font-size 1s;
}
/* on hover increase the font size to simulate magnification */
#top li:hover {
  font-size: 50pt;

  text-overflow: hidden;
}
/* content while its in a resting normal state */
#top li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  padding: 0%;
  border-radius: 50rem;
  display: flexbox;
  backdrop-filter: blur(1rem);
  color: transparent; /* eagerly tryng to find a way to get rid of that annoying block  */
  transform: translate(-50%, -50%);
  transition: width 0.1s, height 0.1s;
  border-radius: 5rem;
}
/* manipulates the sizes of the list items while hovering before hover over other  */
#top li:hover::before {
  width: 1000px;
  height: 1000px;
}

#top {
  background: transparent;
  flood-opacity: 0%;
  font-size: 10pt;
  width: inherit;
  border-radius: 5rem;
  padding-top: 0%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  backdrop-filter: blur(0%);
}

#a1 {
  position: fixed;
  top: 0;
  width: 50rem;
  z-index: 1000;
}
.card {
  margin-top: 4%;
  padding: 3%;
  block-size: 80vh;
  min-height: 60vh;
  aspect-ratio: 1/1.5;
  position: relative;
  border-radius: 1.5rem;
  background: linear-gradient(
    315deg,
    hsla(218, 31%, 17%, 1) 0%,
    hsla(0, 0%, 31%, 1) 100%,
    hsla(200, 6%, 19%, 1) 100%
  );
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  inset: -0.1rem; /* top bottom left right zero */
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--color19),
    var(--color18),
    var(--color17),
    var(--color16),
    var(--color15),
    var(--color14),
    var(--color13),
    var(--color12),
    var(--color11),
    var(--color12),
    var(--color13),
    var(--color14),
    var(--color15),
    var(--color16),
    var(--color17),
    var(--color18),
    var(--color19)
  );
  border-radius: inherit; /* inherits the parents border radius */
  animation: rotation 1.9s linear infinite;
}
.card::after {
  filter: blur(3rem);
}
#cardHeader {
  text-align: center;
  font-family: Chalkboard;
  font-size: 25pt;
  color: rgb(214, 214, 214);
  justify-content: center;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
:root {
  /*------ PALETTE 1 */
  --color00: #202020;
  --color01: #0033ff;
  --color02: #172dff;
  --color03: #2d28ff;
  --color04: #4422ff;
  --color05: #5b1cff;
  --color06: #7117ff;
  --color07: #8811ff;
  --color08: #9f0bff;
  --color09: #b506ff;
  --color10: #cc00ff;
  /*------ PALETTE 2 */
  --color11: #00f2ff;
  --color12: #00e5ff;
  --color13: #00d9ff;
  --color14: #00ccff;
  --color15: #00c3ff;
  --color16: #00b7ff;
  --color17: #00aaff;
  --color18: #009dff;
  --color19: #0091ff;
  --color20: #0084ff;
  --purpleG: linear-gradient(
    300deg,
    #1e2334ff,
    #1f2335ff,
    #1f2335ff,
    #202236ff,
    #202236ff,
    #212237ff,
    #212237ff,
    #222138ff,
    #222138ff,
    #232139ff,
    #23213aff,
    #24203aff,
    #24203bff,
    #25203bff,
    #25203cff,
    #261f3cff,
    #261f3dff,
    #271f3dff,
    #271f3eff,
    #281e3eff,
    #281e3fff,
    #291e40ff,
    #291e40ff,
    #2a1d41ff,
    #2a1d41ff,
    #2b1d42ff,
    #2b1d42ff,
    #2c1c43ff,
    #2c1c43ff,
    #2d1c44ff
  );
  --darkblueG: linear-gradient(
    100deg,
    #1d2644ff,
    #1d2643ff,
    #1e2642ff,
    #1e2641ff,
    #1f2640ff,
    #1f263fff,
    #1f263eff,
    #20263dff,
    #20273dff,
    #20273cff,
    #21273bff,
    #21273aff,
    #222739ff,
    #222738ff,
    #222737ff,
    #232736ff,
    #232735ff,
    #232734ff,
    #242733ff,
    #242732ff,
    #252731ff,
    #252730ff,
    #252830ff,
    #26282fff,
    #26282eff,
    #26282dff,
    #27282cff,
    #27282bff,
    #28282aff,
    #282829ff
  );
  --whiteMintG: linear-gradient(
    45deg,
    #ffffffff,
    #f9fffdff,
    #f3fffaff,
    #edfff8ff,
    #e7fff6ff,
    #e1fff4ff,
    #dbfff1ff,
    #d5ffefff,
    #cfffedff,
    #c9ffebff,
    #c3ffe8ff,
    #bdffe6ff,
    #b7ffe4ff,
    #b1ffe1ff,
    #abffdfff,
    #a6ffddff,
    #a0ffdbff,
    #9affd8ff,
    #94ffd6ff,
    #8effd4ff,
    #88ffd1ff,
    #82ffcfff,
    #7cffcdff,
    #76ffcbff,
    #70ffc8ff,
    #6affc6ff,
    #64ffc4ff,
    #5effc2ff,
    #58ffbfff,
    #52ffbdff
  );
}

@media screen and (width: 100%) {
  .card::after {
    filter: blur(5rem);
  }
}

@media screen and (max-width <= 100%) {
  viewport-fit {
    max-width: fit-content;
    max-height: inherit;
    will-change: auto;
  }
}
