@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
body {
  background: rgb(38, 38, 46);
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.card {
  block-size: 75vh;
  min-height: 60vh;
  aspect-ratio: 1/1.5;
  position: relative;
  border-radius: 1.5rem;
  background: linear-gradient(
    315deg,
    hsla(218, 31%, 17%, 1) 0%,
    hsla(0, 0%, 31%, 1) 100%,
    hsla(200, 6%, 19%, 1) 100%
  );
}
.card::before,
.card::after {
  content: ""; /* ensuring content shows up on the screen */
  position: absolute;
  inset: -0.1rem; /* top bottom left right zero */
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--color19),
    var(--color18),
    var(--color17),
    var(--color16),
    var(--color15),
    var(--color14),
    var(--color13),
    var(--color12),
    var(--color11),
    var(--color12),
    var(--color13),
    var(--color14),
    var(--color15),
    var(--color16),
    var(--color17),
    var(--color18),
    var(--color19)
  );
  border-radius: inherit; /* inherits the parents border radius */
  animation: rotation 2s linear infinite;
}
.card::after {
  filter: blur(2rem);
}
:root {
  /*------ PALETTE 1 */
  --color00: #202020;
  --color01: #0033ff;
  --color02: #172dff;
  --color03: #2d28ff;
  --color04: #4422ff;
  --color05: #5b1cff;
  --color06: #7117ff;
  --color07: #8811ff;
  --color08: #9f0bff;
  --color09: #b506ff;
  --color10: #cc00ff;
  /*------ PALETTE 2 */
  --color11: #00f2ff;
  --color12: #00e5ff;
  --color13: #00d9ff;
  --color14: #00ccff;
  --color15: #00c3ff;
  --color16: #00b7ff;
  --color17: #00aaff;
  --color18: #009dff;
  --color19: #0091ff;
  --color20: #0084ff;
}

#cardHeader {
  text-align: center;
  font-family: monospace;
  font-size: 30pt;
  color: rgb(214, 214, 214);
  justify-content: center;
  margin: 3%;
}
